.account-my-wishlist {
    .my-wishlist-grid {
        & > div:last-child {
            justify-content: flex-end !important;
        }
        .items-per-page {
            display: none;
        }
        .list-items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 30px;
            grid-column-gap: 16px;
            grid-auto-rows: 1fr;
        }
    }

    .siminia-wishlist-item {
        .product-item.siminia-product-grid-item {
            min-width: 204px;
            min-height: 336px;
            
        }

        .product-grid-item .product-image {
          
            a {
                
                img {
                    border: none;
                    width: 100%;
                }
            }

            .wishlist-image {
                position: relative;
                &:hover {
                    text-decoration: none;
                    .my-wishlist-action {
                        display: flex;
                    }
                }
                .my-wishlist-action {
                    display: none;
                    justify-content: center;
                    align-items: center;
                    background: #fff;
                    position: absolute;
                    bottom: 15px;
                    left: 50%;
                    transform: translateX(-50%);
                    box-shadow: 0 0 3px 1px #e0e0e0;
                    z-index: 10;
                    & > div {
                        font-size: 16px;
                        line-height: 16px;
                        padding: 12px;
                        color: #000;
                        max-width: 40px;
                        max-height: 40px;
                        cursor: pointer;
                    }
                }
            }
        }

        .product-grid-item .product-des {
            padding: 0;
            margin-top: 15px;
            text-align: center;
            .prices-layout {
                font-size: 14px;
                line-height: 14px;
                margin-top: 10px;
            }

            .product-name {
                font-size: 14px;
                line-height: 14px;
                color: #000;
            }
        }
    }
}

@media(max-width: 1023px) {
    .account-my-wishlist .my-wishlist-grid .list-items {
        grid-template-columns: repeat(2, 1fr);
    }

    .account-my-wishlist .siminia-wishlist-item .product-grid-item .product-image .wishlist-image .my-wishlist-action {
        display: flex;
    }

    .account-my-wishlist .siminia-wishlist-item .product-grid-item .product-image .wishlist-image .my-wishlist-action > div {
        font-size: 12px;
        line-height: 12px;
        padding: 8px;
    }
}