$colorTitle : #101820;
$colorSubTitle : #000;
.left-menu-root {
    background-color: white;
    bottom: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    transition-duration: 192ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-property: opacity, transform, visibility;
    visibility: hidden;
    width: 78%;
    max-width: 292px;
    z-index: 3;
    color: #000;
    font-size: 12px;
    font-weight: 300;
    &.open {
        background-color: white;
        bottom: 0;
        display: grid;
        grid-template-rows: auto 1fr auto;
        left: 0;
        position: fixed;
        top: 0;
        transition-property: opacity, transform, visibility;
        visibility: hidden;
        width: 78%;
        max-width: 292px;
        z-index: 3;
        box-shadow: 1px 0 #000;
        opacity: 1;
        transform: translate3d(0, 0, 0);
        transition-duration: 224ms;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        visibility: visible;
    }
    .list-menu-header {
        overflow: auto;
        .left-top-menu {
            overflow-y: auto;
            padding-bottom: 80px;
        }
    }
    .left-cats-menu {
        margin-top: 50px;
        padding: 0 19px 0 33px;
        .cate-root {
            > div > .menu-content {
                display: flex;
                .menu-title {
                    color: #000 !important;
                    font-size: 12px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding-top: 6px;
                }
            }
        }
        .menu-cate-name-item {
            display: flex;
            align-items: center;
            color: #000;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            padding-top: 6px;
        }
        .cate-parent-item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            padding-top: 13px;
            padding-bottom: 15px;
            font-size: 12px;
            font-weight: 300;
            line-height: 12px;
        }
        .root-menu > div {
            color: #000;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            padding-top: 6px;
        }
        .cate-parent-item div:nth-child(1){
            color: #000 !important;
            width:100%;
        }
        .cate-child-item {
            padding-top: 13px;
            padding-bottom: 15px;
            color: #000;
            font-size: 12px;
            font-weight: 300;
            text-transform: uppercase;
            padding-top: 6px;
        }
    }
    .left-account-menu {
        color: #000;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 300;
        .MuiListItem-root {
            padding: 4px 0px 4px 0px;
            direction: rtl;
            text-align: right;
            font-family: Muli !important;
            .left-menu-account-title {
                // font-family: Muli !important;
                color: #000 !important;
                font-size: 12px;
                font-weight: 500;
            }
            svg {
                width: 25px;
                height: 25px;
            }
            .useraccount{
                font-weight: bold;
                font-size: 18px;
                width: 18px;
                height: 18px;
                color: #000 !important;
            }
        }
        .list-account-menu-item {
            padding: 13px 19px 15px 20px;
        }
    }
    .left-store-switch {
        padding: 0 3px 0 17px;
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 12px;
        .MuiTypography-root {
            font-weight: 300;
            font-size: 12px;
        }
        .store-item-ctn.selected {
            display: none;
        }
        .MuiListItem-root {
            padding-top: 13px;
            padding-bottom: 15px;
            svg {
                width: 25px;
                height: 25px;
            }
        }
        .MuiList-root {
            > div {
                padding: 0 16px;
                > div {
                    border-bottom: none;
                }
            }
        }
    }
    .scan-go{
        padding: 10px 0px 10px 0px;
        width: 100%;
        height: 100%;
        button{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            i{
                color: #000 !important;
                display: inline-flex;
                font-size: 18px;
                font-weight: bold;
            }
            span{
                display: inline-flex;
                color: #000 !important;
                font-size: 12px;
                font-weight: 500;
                text-transform: uppercase;
            }
            span.username{
                // font-family: cursive;
                color: teal !important;
                font-weight: bold;
            }
        }
    }
    .left-contact-us {
        padding: 10px 19px 10px 33px;
        font-weight: 300;
        text-transform: uppercase;
    }
    .left-bottom-menu {
        cursor: pointer;
        font-weight: 500;
        padding: 30px;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: #F2F2F2;
        font-size: 14px;
        text-transform: uppercase;
    }
}

#scango-modal-overlay{
    padding: 10px;
    #scango-modal{
        width: 100%;
        padding: unset;
        border-radius: 6px;
        outline: 0;
        .modal-header{
            padding: 15px;
            border-bottom: 1px solid #e5e5e5;
            h4{
                font-size: 18px;
            }
        }
    }
}

.left-menu-root.nav_rtl {
    transition-duration: 0ms;
}
.left-menu-root.open.nav_rtl {
    left: unset;
}


/* keyframes */

@keyframes slidein {
    from {
        transform: translate3d(0, 100%, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideout {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideinSide {
    from {
        transform: translate3d(-100%, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideoutSide {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}