.login-background {
  margin-top: 60px;
  margin-bottom: 100px;
  background-color: white;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.login-background .back-container{
    display: block;
    margin-top: -40px;
    padding-bottom: 50px;
}

.login-background .login-container {
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 0px 32px;
  border: 1px solid #E0E0E0;
  background-color: white;
}

.login-background .smallSize {
  max-width: 572px;
  border: unset;
}

.signIn_closed {
  display: none;
}

.modal_active {
  left: 0;
}

.form_closed {
  display: none;
}

.login-header {
  display: flex;
  margin-bottom: 35px;
}

.login-header-back {
  width: 20%;
  margin-top: 8px;
  cursor: pointer;
}

.login-back {
  width: fit-content;
  border: unset;
  border-bottom: 1px solid #101820;
  cursor: pointer;
  margin-top: 35px;
  min-height: 17px;
  line-height: 18px;
  background: #fff;
}
.login-back span {
  height: 18px;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  color: #000;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.login-header-title {
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

.login-header.has-back-btn .login-header-title {
  width: 60%;
}

.userInput {
  margin-bottom: 10px !important;
}

.input {
  min-height: 48px;
  padding-left: 56px !important;
  background-color: #f2f2f2;
  min-width: 572px;
  width: 100%;
  border: unset;
  margin-bottom: 24px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #000;
}
.input::placeholder{
    color: #727272;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 17px;
}

/* nam style css */

.login-background .select-type {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.login-background .select-type .active {
  background-color: #101820 !important;
}

.login-background .select-type button:focus{
  outline: unset;
}

.login-background .select-type .active .icon-phone,
.login-background .select-type .active .title-register {
  color: #fff !important;
}

.login-background .select-type .active .icon-email,
.login-background .select-type .active .title-signin {
  color: #fff !important;
}

.login-background .select-type .register-type,
.login-background .select-type .signin-type {
  background-color: #fff;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  justify-content: center;
    display: block;
    width: 50%;
}

.login-background .select-type .register-type .wrap,
.login-background .select-type .signin-type .wrap {
  position: relative;
  width: fit-content;
  display: flex;
  margin: auto;
  cursor: pointer;
}

.login-background .select-type .register-type .icon-phone {
  display: inline-block;
  color: #101820;
  font-family: Linearicons;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-right: 3px;
}

.login-background .select-type .register-type .icon-phone::before {
  content: "\e831";
}

.login-background .select-type .register-type .title-register {
  display: inline-block;
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

.login-background .select-type .signin-type .icon-email {
  display: inline-block;
  color: #101820;
  font-family: Linearicons;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  margin-right: 3px;
}

.login-background .select-type .signin-type .icon-email::before {
  content: "\e697";
}

.login-background .select-type .signin-type .title-signin {
  display: inline-block;
  color: #000;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 24px;
  text-transform: uppercase;
}

.login-background div[class~="signInAction"] div[class*="checkbox-item"] {
  margin-top: unset !important;
  align-items: center;
}

.login-background div[class~="signInAction"] div[class*="selected"] div[class*="checkbox-item-icon"]{
    color: #fff;
    background-color: #000;
  }

.login-background div[class~="signInAction"] div[class*="checkbox-item-icon"] {
  width: 24px;
  height: 24px;
  margin-right: 12px !important;
  display: inline-flex;
}

.login-background div[class~="signInAction"] div[class*="checkbox-item-icon-inside"] {
  margin-top: 4px !important;
}

.login-background div[class~="signInAction"] span[class*="checkbox-item-text"] {
  margin: 5px 0;
  min-width: 103px;
}

.login-background div[class~="signInButtonCtn"] {
  margin-top: 30px !important;
}

.login-background div[class~="signInButtonCtn"] button {
  white-space: nowrap;
  text-align: center;
  padding-top: 14.5px !important;
  cursor: pointer;
  border: 0;
  width: 100%;
  min-width: 200px;
  padding-bottom: 14.5px !important;
  color: #FFF;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 19px;
}

.login-background .inactive {
  display: none;
}

.login-background .active {
  padding: 0 98px;
  display: block;
  justify-content: space-between;
}

.login-background .active .signInDivider {
  text-align: center;
  display: flex;
  justify-content: center;
}

.login-background .active .signInDivider .hr {
  border-top: 0.5px solid #727272;
  border-bottom: 0.5px solid #727272;
  margin: unset;
  margin-top: 7.5px;
  width: 211px;
}

.login-background .active .signInDivider .hr.left-hr {
  margin-right: 19.5px;
}

.login-background .active .signInDivider .hr.right-hr {
  margin-left: 19.5px;
}

.login-background .active .signInDivider .signInWidth {
    color: #000;
    font-family: "Roboto";
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
  text-transform: uppercase;
}

.login-background .active .socialMedia {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.login-background .active .socialMedia .social-icon {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #101820;
  box-sizing: border-box;
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background-color: #fff;
  margin: 0 8px;
}

.login-background .active .socialMedia .social-icon.special {
  text-align: center;
}

.login-background .active .socialMedia .social-icon .icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  color: #101820;
  font-family: simple-line-icons;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0px;
  padding-top: 6px;
}

.login-background .active .socialMedia .social-icon .icon.google {
  display: inline-block;
  height: 24px;
  width: 24px;
  color: #101820;
  font-family: Material-Design-Iconic-Font;
  font-size: 24px;
  letter-spacing: 0.17px;
  line-height: 24px;
  text-align: center;
}

.login-background .active .socialMedia .social-icon .facebook::before {
  content: "\e00b";
}

.login-background .active .socialMedia .social-icon .twitter::before {
  content: "\e009";
}

.login-background .active .socialMedia .social-icon .google::before {
  content: "\f34e";
}

.login-background .active .socialMedia .social-icon .linkedin::before {
  content: "\e60a";
}

.login-background .active .socialMedia .social-icon .instagram::before {
  content: "\e609";
}

.login-background .active .showCreateAccountButtonCtn {
  display: flex;
  margin-top: 60px;
  box-sizing: content-box;
  height: 48px;
  width: 572px;
  border: 1px solid #101820;
  cursor: pointer;
}

.login-background .active .showCreateAccountButtonCtn .showCreateAccountButton {
  display: inline-block;
  width: 100%;
  color: #101820;
  font-family: Gotham;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

/* right to left */
.rtl-wrap {
}
.rtl-wrap .icon-email,
.rtl-wrap .icon-phone {
  margin-right: unset !important;
  margin-left: 3px;
}
.rtl-wrap .title-signin,
.rtl-wrap .title-register {
  margin-left: unset !important;
  margin-right: 3px;
}
.rtl-divider {
}
.rtl-divider .hr.left-hr {
  margin-left: 12px !important;
  margin-right: unset !important;
}
.rtl-divider .hr.right-hr {
  margin-left: unset !important;
  margin-right: 12px !important;
}

.restyle {
  margin-top: 80px !important;
  margin-bottom: 229px !important;
}

.show{
  display: block !important;
}

@media (max-width: 991px) {
  .login-background .active .signInDivider .signInWidth {
    font-size: 11px;
  }
}
@media (max-width: 834px) {
  .login-background {
    padding: 40px;
    padding-top: 1px !important;
    padding-bottom: 0;
  }
  .login-container {
    margin-top: 40px !important;
  }
  .login-background .select-type {
    /* padding: 0 80px; */
    height: 40px;
  }
  .login-background .select-type .register-type,
  .login-background .select-type .signin-type {
    padding: unset;
    height: 40px;
    outline: unset;
  }
  .login-background .select-type .register-type:focus,
  .login-background .select-type .signin-type:focus{
    outline: unset !important;
  }
  .login-background .select-type .register-type .title-register,
  .login-background .select-type .signin-type .title-signin {
    font-size: 14px;
    line-height: 14px;
  }
  .login-background .active {
    padding: 0 80px;
  }
  .login-background .active .signInDivider .signInWidth {
    font-size: 13px;
  }
  .login-background .active .signInDivider .hr {
    width: 177px;
  }
  .login-background .active .showCreateAccountButtonCtn {
    width: 100%;
    margin-top: 40px;
    height: 40px;
  }
  .login-background div[class~="signInButtonCtn"] button {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    line-height: 16px !important;
  }
}
@media screen and (max-width: 833px) and (min-width: 767px) {
  .login-container{
    width: unset !important;
  }
}

@media (max-width: 736px) {
  .login-background {
    padding: 20px;
    padding-top: 20px !important;
    padding-bottom: 0;
  }
  .login-container {
    margin-top: 10px !important;
  }
  .login-background .select-type {
    /* padding: 0 60px; */
  }
  .login-background .active {
    padding: 0 60px;
  }
  .login-background .active .signInDivider .signInWidth {
    font-size: 11px;
  }
}

@media (max-width: 600px) {
  .login-background {
    padding: 20px;
    padding-top: 0 !important;
    padding-bottom: 0;
  }
  .login-background .select-type {
    /* padding: 0 40px; */
  }
  .login-background .active {
    padding: 0 40px;
  }
}

@media (max-width: 500px) {
  .login-background {
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .login-background .select-type {
    /* padding: 0 10px; */
  }
  .login-background .active {
    padding: 0 10px;
  }
  .login-background .active .signInDivider .hr {
    width: 120px;
  }
}

@media (max-width: 470px) {
  .login-container {
    padding: 0 10px;
  }
}

@media (max-width: 425px) {
  .login-container {
    margin-top: 20px !important;
    border: unset !important;
    padding-bottom: 50px !important;
  }
  .login-background .select-type {
    padding: 0px;
  }
  .login-background .active {
    padding: 0px;
  }
  .login-background .active .signInDivider .signInWidth {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .login-container {
    margin-top: 20px !important;
    border: unset !important;
    padding-bottom: 50px !important;
  }
  .login-background {
    padding: 15px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .login-background .select-type {
    margin-top: 20px;
    padding: 0 1px;
  }
  .login-background .active {
    padding: 0 10px;
  }
  .login-background .active .signInDivider .hr {
    width: 50px;
    margin-top: 5px;
  }
  .login-background .select-type .register-type,
  .login-background .select-type .signin-type {
    padding: unset;
    height: 40px;
  }
  .login-background .select-type .register-type .wrap,
  .login-background .select-type .signin-type .wrap {
    height: 15px;
  }
  .login-background .select-type .register-type .icon-phone {
    height: 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .login-background .select-type .active .icon-phone,
  .login-background .select-type .active .title-register {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
  }
  .login-background .select-type .active .icon-email,
  .login-background .select-type .active .title-signin {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
  }
  .login-background .select-type .register-type .title-register,
  .login-background .select-type .signin-type .title-signin {
    font-size: 14px;
    line-height: 14px;
    padding: unset;
    margin-top: 1px;
  }
  .login-background .select-type .register-type .title-register {
  }
  .login-background .select-type .signin-type .title-signin {
  }
  .login-background div[class~="signInAction"] button {
    font-family: "Gotham Book";
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
  }
  .login-background div[class~="signInButtonCtn"] {
    margin-top: 38px !important;
    margin-bottom: 30px;
  }
  .login-background div[class~="signInButtonCtn"] button {
    max-width: 249px;
    font-size: 14px;
    line-height: 14px !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
  }
  .login-background .active .signInDivider .signInWidth {
    font-size: 13px;
    line-height: 14px;
    min-width: 126px;
  }
  .login-background .active .socialMedia {
    margin-top: 30px;
  }
  .login-background .active .showCreateAccountButtonCtn {
    margin-top: 30px;
    display: block;
    text-align: center;
    border: unset !important;
  }
  .login-background .active .showCreateAccountButtonCtn .showCreateAccountButton {
    max-width: 249px;
    font-size: 14px;
    line-height: 14px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border: 1px solid #101820;
  }
}