<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!--   create type to show data on grid adnmin transactions -->
    <type name="Nam\RewardPoint\Model\ResourceModel\Transactions\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">namrewardpoint_transaction</argument>
            <argument name="resourceModel" xsi:type="string">Nam\RewardPoint\Model\ResourceModel\Transactions</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="rewardpoint_transactions_listing_data_source" xsi:type="string">
                    Nam\RewardPoint\Model\ResourceModel\Transactions\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
</config>