$border_color2: #e0e0e0;
$color_secondary: #bdbdbd;
$color_main: #333;

.product-detail-root {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    .title {
        line-height: 24px;
        width: 100%;
        margin-bottom: 21px;
    }

    @media (min-width: 1024px) {
        .title {
            // padding: 1.5rem;
        }
    }

    .product-name {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 21px;
    }
    .main-actions {
        .product-name {
            text-align: justify;
        }
    }
    .product-short-desc {
        line-height: 24px;
        color: #727272;
    }

    .image-carousel {
        min-width: 300px;
    }

    @media (min-width: 1024px) {
        .image-carousel {
            max-width: 572px;
            width: auto;
        }
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
        .image-carousel {
            max-width: 50%;
        }
    }

    @media (max-width: 1023px) {
        .image-carousel {
            width: 100%;
        }
    }

    @media (max-width: 374px) {
        .image-carousel {
            min-width: auto;
        }
    }

    .main-actions {
        /* width: 40%; */
        min-width: 300px;
        margin-left: 15px;
    }
    @media (min-width: 1024px) {
        .main-actions {
            width: calc(100% - 590px);
        }
    }
    @media (min-width: 1024px) and (max-width: 1199px) {
        .main-actions {
            width: calc(50% - 15px);
        }
    }
    @media (max-width: 1023px) {
        .main-actions {
            width: 100%;
            margin-left: 0;
        }
    }
    @media (max-width: 374px) {
        .main-actions {
            min-width: auto;
        }
    }
    .top-review {
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .product-stock-status {
            font-size: 12px;
            line-height: 15px;
            color: #000000;
            text-transform: uppercase;
        }
    }
    .product-price {
        margin-bottom: 20px;
        .price-bundle {
            font-size: 14px;
            .small {
                font-size: 14px;
            }
            .price {
                font-size: 20px;
                font-weight: 600;
                line-height: 20px;
            }
        }
    }
    .review-btn {
        cursor: pointer;
        color: #000000;
        &:hover {
            text-decoration: underline;
        }
    }
    .cart-actions {
        margin-top: 30px;
        display: flex;
        width: 100%;
        align-items: center;
    }

    .product-qty-content {
        margin-top: 20px;
        .amount-qty {
            font-size: 16px;
            line-height: 19px;
            color: #101820;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
        }
    }
    .product-quantity {
        display: flex;
        height: 40px;
        input {
            background-color: #e0e0e0;
            color: #4f4f4f;
            font-size: 24px;
            line-height: 29px;
            width: 70px;
            display: inline-block;
            text-align: center;
            border: 1px solid #e0e0e0;
            -webkit-appearance: none;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
        .minus-quantity,
        .increase-quantity {
            width: 63px;
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;
            line-height: 29px;
            color: #000000;
            border: 1px solid #e0e0e0;
            cursor: pointer;
        }
    }

    .add-to-cart-ctn {
        min-width: 207px;
    }
    @media screen and (max-width: 374px) {
        .add-to-cart-ctn {
            min-width: unset;
        }
    }

    .add-to-cart-btn {
        width: 100%;
        padding: 10.5px;
        background-color: #000 !important;
        color: #fff !important;
        font-size: 16px;
        font-weight: 600;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        height: 40px;
    }
    .wishlist-actions,
    .compare-actions {
        border: 1px solid #e0e0e0;
        display: inline-flex;
        height: 40px;
        width: 59px;
        align-items: center;
        justify-content: center;
        margin-left: 16px;
        cursor: pointer;
        span {
            font-size: 18px;
        }
    }
    .compare-actions {
        > div {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
    }

    .social-share {
        padding: 0 1.5rem 1rem;
    }

    .options {
        .option-item-type {
            &.option-item-type-color {
                button {
                    height: 40px;
                    width: 60px;
                    border-radius: 0;
                    border: 1px solid #efefef;
                    font-size: 0;
                    &.selected {
                        border-color: #101820;
                    }
                }
            }
        }
    }
    .product-sku {
        .sku-label {
            text-transform: uppercase;
            line-height: 17px;
            color: #727272;
        }
        margin-bottom: 12px;
    }
    .carousel .thumbs-wrapper {
        margin: 16px 0 0;
        ul.thumbs {
            padding: 0;
            margin: 0;
            overflow-x: auto;
            .thumb {
                &.selected,
                &:hover {
                    border: 1px solid #000;
                    padding: 0;
                }
            }
            @media (min-width: 1024px) {
                .thumb {
                    width: calc(33.33333333% - 6px);
                }
            }
        }
    }
    .product-informations {
        padding-top: 50px;
        margin-top: 80px;
        border-top: 1px solid $border_color2;
        width: 100%;

        .tabs {
            .tab-list {
                border: none;
                border-bottom: none;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                li.tab-list-item {
                    color: $color_secondary;
                    font-size: 20px;
                    line-height: 24px;
                    padding: 10px 67px;
                    text-transform: uppercase;
                    &.tab-list-active {
                        border: none;
                        color: $color_main;
                    }
                }
                @media (max-width: 1023px) {
                    li.tab-list-item {
                        min-width: max-content;
                        margin: 0;
                        margin-right: 20px;
                        padding: 0;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
            @media (max-width: 1023px) {
                .tab-list {
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                }
            }
            .tab-content {
                padding-top: 5px;
                padding-bottom: 15px;
                color: $color_main;
                font-size: 16px;
                line-height: 24px;
                .description {
                    .description-title {
                        display: none;
                    }
                    .description-content {
                        text-align: justify;
                        p:nth-child(n + 2) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1023px) {
        .product-informations {
            padding-top: 24px;
            margin-top: 34px;
        }
    }
}

.rtl-root {
    .product-detail-root {
        .main-actions {
            margin-left: unset;
            margin-right: 15px;
        }
        .option-item-type{
            button{
                &:not(:last-child){
                    margin-right: unset;
                    margin-left: 25px;
                }
            }
        }
        .wishlist-actions,
        .compare-actions{
            margin-left: unset;
            margin-right: 16px;
        }
    }
}
