@font-face {
	font-family: 'arsenal-bold';
	src: url('./Arsenal/Arsenal-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arsenal-bold-italic';
	src: url('./Arsenal/Arsenal-BoldItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arsenal-italic';
	src: url('./Arsenal/Arsenal-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'arsenal';
	src: url('./Arsenal/Arsenal-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
