.right-bar-rtl {
    #header-settings,
    #my-account,
    #wish-list,
    .right-bar-item-rtl {
        margin-left: 0;
        margin-right: 35px;
    }
}

#cate-tree {
    .icon-menu{
        svg{
            fill: #000 !important;
        }
    }
    .icon-menu::before{
        content: unset !important;
    }
}
.sub-cate-root{
    .cate-icon{
        svg{
            fill: #000 !important;
        }
    }
}